body {
    font-family: 'Helvetica';
    font-size: 2em;
    text-align: center;
    background-color: #e4c954;
}

input {
    height: 50px;
    width: 300px;
    font-size: 1.2em;
}

table,
th,
td {
    width: 500px;
    border: 1px solid rgb(117, 205, 231);
    border-collapse: collapse;
    margin: 0 auto;
    color: #c8ebc9;
}

h2,
p {
    text-align: inherit;
    color: #47a0c9;
}

.setVisibility p {
    margin: 0;
    text-align: left;
}

.setVisibility input[type="checkbox"] {
    margin-right: 10px;
}

#inputForm,
.setVisibility,
.tablesSection,
#editForm {
    margin: 10px 0;
}

table,
th,
td {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-group label {
    width: 80px;
    text-align: right;
}

#item,
#quantity {
    background-color: #d2e7d2;
    color: black;
}

#submitButton {
    background-color: #3482c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.2s ease;

}

#submitButton:hover {
    background-color: #67c7ec;
    /* Darker green on hover */
}

#checkbox {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #bb551b;
    border: 1px solid #d4290a;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 1px #33059c;
    transition: all 0.2s ease;
}

#checkbox:checked {
    background-color: #2c1a04;
    border-color: #c05208;
}

#checkbox:hover {
    box-shadow: 0 0 5px 2px rgba(255, 165, 0, 0.5);
}